{% extends '../base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
    <div class="text-center">
        {% include 'includes/../includes/alerts.html' %}
    </div>
	<div class="row">
{#    sidebar #}
        {% include 'includes/../includes/dashboard_sidebar.html' %}

	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Change password</strong>
		</header>
		<div class="card-body">
            <div class="text-right">
                <img src="{{ userprofile.profile_picture.url }}" alt="Profile picture" height="100" width="100" style="border-radius:50%">
            </div>
			<div class="row">
                <div class="col-md-12">
                    <form action="{% url 'accounts:change-password-view' %}" method="POST">
                        {% csrf_token %}

                             <div class="form-group">
                                <label>Current password</label>
                                <input type="password" name="current_password" class="form-control" placeholder="Type current password" required>
                            </div>
                         <div class="form-group">
                                <label>New password</label>
                                <input type="password" name="new_password" class="form-control" placeholder="Type new password" required>
                            </div>
                         <div class="form-group">
                                <label>Confirm new password</label>
                                <input type="password" name="confirm_password" class="form-control" placeholder="Confirm password" required>
                            </div>


                        </div>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                </div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		<div class="table-responsive">

		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}