{% extends 'base.html' %}
{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro py-2">
    <div class="row">
<!-- ========================= Gallery ========================= -->
        <div class="col-md-5">
           <div class="card border-0 mb-1" style="">
               {% if housing_offer.photo_1.url is not None %}
                   <img src="{{ housing_offer.photo_1.url }}" alt="photo" style="border-radius: 1%">
                {% else %}
                    <img src='/static/images/Desktop - 1.png' alt="photo" style="border-radius: 1%">
                {% endif %}
           </div>
            <div class="card border-0 mb-1">
                  {% if housing_offer.photo_2.url is not None %}
                       <img src="{{ housing_offer.photo_2.url }}" alt="photo" style="border-radius: 1%">
                   {% endif %}
           </div>
            <div class="card border-0 mb-1">
                    {% if housing_offer.photo_3.url is not None %}
                       <img src="{{ housing_offer.photo_3.url }}" alt="photo" style="border-radius: 1%">
                   {% endif %}
           </div>
            <div class="card border-0 mb-1">
               {% if housing_offer.photo_4.url is not None %}
                       <img src="{{ housing_offer.photo_4.url }}" alt="photo" style="border-radius: 1%">
                   {% endif %}
           </div>
        </div><!--col//-->
<!-- ========================= Gallery// ========================= -->
<!-- ========================= Describes ========================= -->
        <div class="col-md-7">
             <p class="card-text">
                            <div class="row">
                               <div class="col">
                                  <H6 class="header-main"><b>{{ housing_offer.name }}</b></H6>
                                   <dl class="row">
                                          <dt class="col-5 mb-2">Описание | Description</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.description }}</dd>
                                          <dt class="col-5 mb-2">Контакты для связи | Contacts for feedback</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.contacts }}</dd>
                                          <dt class="col-5 mb-2">Город | City</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.city }}</dd>
                                          <dt class="col-5 mb-2">Район | District</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.district }}</dd>
                                          <dt class="col-5 mb-2">Сдается для | Gender of potential tenants</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.get_desired_lodgers_gender_display }}</dd>
                                          <dt class="col-5 mb-2">Сейчас проживают | Gender of current tenants</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.get_sex_of_now_lodgers_display }}</dd>
                                           <dt class="col-5 mb-2">Можно с детьми | Children allowed</dt>
                                               {% if housing_offer.with_kids %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-check" aria-hidden="true"></i></dd>
                                               {% else %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-close"></i></dd>
                                               {% endif %}
                                           <dt class="col-5 mb-2">Тип жилья | Housing type</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.get_house_type_display }}</dd>
                                           <dt class="col-5 mb-2">Количество комнат | Number of rooms</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.get_number_of_rooms_display }}</dd>
                                           <dt class="col-5 mb-2">Площадь жилья | Area</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.house_area }} m2</dd>
                                           <dt class="col-5 mb-2">Предлагается отдельная комната | Separate room</dt>
                                              {% if housing_offer.separate_room %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-check" aria-hidden="true"></i></dd>
                                               {% else %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-close"></i></dd>
                                               {% endif %}
                                           <dt class="col-5 mb-2">Состояние отделки | Interior condition</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.get_interior_condition_display }}</dd>
                                           <dt class="col-5 mb-2">Наличие мебели | Availability of furniture</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.get_furniture_display }}</dd>
                                           <dt class="col-5 mb-2">Наличие бытовой техники | Availability of appliances</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.get_appliances_display }}</dd>
                                           <dt class="col-5 mb-2">Отопление | Heating</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.get_heating_display }}</dd>
                                           <dt class="col-5 mb-2">Интернет | Internet</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.get_internet_display }}</dd>
                                           <dt class="col-5 mb-2">Жилье вмещает жильцов | Maximum number of lodgers</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.number_of_lodgers }}</dd>
                                           <dt class="col-5 mb-2">Свободно мест | Free space for lodgers</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.free_space_for_num_person }}</dd>
                                           <dt class="col-5 mb-2">Полная стоимость аренды помещения | Total rental amount</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.total_cost }}$ в месяц | per month</dd>
                                           <dt class="col-5 mb-2">Сумма аренды на человека | Rental amount per person</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.cost_per_person }}$ в месяц | per month</dd>
                                           <dt class="col-5 mb-2">Средняя стоимость коммунальных услуг | Average cost of utilities</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.average_utility_bill }}$ в месяц | per month</dd>
                                           <dt class="col-5 mb-2">Минимальный период аренды | Minimal rental period</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.min_rental_period }} мес | month</dd>
                                           <dt class="col-5 mb-2">Есть балкон | Has balcony</dt>
                                               {% if housing_offer.has_balcony %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-check" aria-hidden="true"></i></dd>
                                               {% else %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-close"></i></dd>
                                               {% endif %}
                                          <dt class="col-5 mb-2">Есть лоджия | Has loggia</dt>
                                              {% if housing_offer.has_loggia %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-check" aria-hidden="true"></i></dd>
                                               {% else %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-close"></i></dd>
                                               {% endif %}
                                           <dt class="col-5 mb-2">Есть парковка | Has parking</dt>
                                               {% if housing_offer.has_parking %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-check" aria-hidden="true"></i></dd>
                                               {% else %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-close"></i></dd>
                                               {% endif %}
                                           <dt class="col-5 mb-2">Общественный транспорт рядом | Public transport nearby</dt>
                                               {% if housing_offer.transport_nearby %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-check" aria-hidden="true"></i></dd>
                                               {% else %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-close"></i></dd>
                                               {% endif %}
                                           <dt class="col-5 mb-2">Можно с животными | Animals allowed</dt>
                                               {% if housing_offer.with_animals %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-check" aria-hidden="true"></i></dd>
                                               {% else %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-close"></i></dd>
                                               {% endif %}
                                           <dt class="col-5 mb-2">Можно курить | Smoking allowed</dt>
                                               {% if housing_offer.can_smoke %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-check" aria-hidden="true"></i></dd>
                                               {% else %}
                                                   <dd class="col-7 mb-2"><i class="fa fa-close"></i></dd>
                                               {% endif %}
                                           <dt class="col-5 mb-2">Предложение создано | Created date</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.created_date }}</dd>
                                           <dt class="col-5 mb-2">Предложение изменено | Edited date</dt>
                                          <dd class="col-7 mb-2">{{ housing_offer.modified_date }}</dd>

                                   </dl>
                               </div>
                            </div>
                        </p>
        </div>
<!-- ========================= Describes// ========================= -->
        </div><!--row//-->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->
{% endblock %}
