{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-content">
<!--==============selecting country and city=================-->
<div class="row col-12 mb-2">
    <div class="float-start">
        <div class="card border-success">
            <div class="card-body">

<div class="row">
  <div class="col">
            <form method="get" name="country_sel" action="">
                <input name="country_select" type="search" class="form-control border-success" list="CountrydatalistOptions" id="CountryDataList" placeholder="{{ placeholder_country }}" onchange='if(this.value != 0) { this.form.submit(); }'>
                <datalist id="CountrydatalistOptions">
                    {% for country in countries %}
                      <option value="{{ country.country }}">
                    {% endfor %}
                </datalist>
            </form>
  </div>
  <div class="col">
    <form method="get" name="city_sel" action="">
                <input name="city_select" type="search" class="form-control border-success" list="CitydatalistOptions1" id="CityDataList" placeholder="{{ placeholder_city }}" onchange='if(this.value != 0) { this.form.submit(); }'>
                <datalist id="CitydatalistOptions1">
                    {% for city in city_qs %}
                      <option value="{{ city.city }}">
                    {% endfor %}
                </datalist>
            </form>
  </div>
</div>
            </div>
        </div>
    </div>
</div>
<!--==============END selecting country and city=================-->
        <!--==============FILTERS=================-->
<div class="row col-12">
    <div class="float-start">
        <div class="card col-3" style="float: right;">
            <div class="card-title mb-0">
               <div class="card-header bg-success text-white">Filters | Фильтры</div>
            </div>
            <div class="card-body">

    <form method="get" name="filters_form" action="">
       <div class="row">
          <div class="col">

<!--sex-->
              <select name="sex" class="form-select mb-2" aria-label="sex">
                  <option value="" disabled selected>Ваш пол</option>
                  <option value=1>Женский | Female</option>
                  <option value=2>Мужской | Male</option>
                  <option value=3>Мужчины и женщины | Men & women</option>
              </select>
<!--sex//-->
<!--genderliving-->
         <select name="gender_of_living" class="form-select" aria-label="gender_of_living">
              <option value="" disabled selected>Вам подойдет жить с...</option>
              <option value=1>Женщинами | Female</option>
              <option value=2>Мужчинами | Male</option>
              <option value=3>Смешанно | Mixed</option>
              <option value=4>Ни с кем | Without anyone</option>
          </select>
<!--genderliving//-->
<hr>
<!--with_kids-->
               <label class="form-check-label" for="">С детьми | With kids</label>
         <div class="form-check">
              <input name="with_kids" class="form-check-input" type="radio" id="with_kids" value='True'>
              <label class="form-check-label" for="with_kids">да | yes</label>
         </div>
          <div class="form-check">
             <input name="with_kids" class="form-check-input" type="radio" id="with_kids" value='False'>
              <label class="form-check-label" for="with_kids">нет | no</label>
          </div>
<!--with_kids//-->
   <hr>
<!--house_type-->
       <label class="form-check-label" for="">Тип жилья | Housing type</label>
         <div class="form-check">
              <input name="house_type_1" class="form-check-input" type="checkbox" id="typeCheckbox1" value='1'>
              <label class="form-check-label" for="typeCheckbox1">Квартира</label>
            </div>
            <div class="form-check">
              <input name="house_type_2"  class="form-check-input" type="checkbox" id="typeCheckbox2" value='2'>
              <label class="form-check-label" for="typeCheckbox2">Дом</label>
        </div>
           <div class="form-check ">
              <input name="house_type_3"  class="form-check-input" type="checkbox" id="typeCheckbox2" value='3'>
              <label class="form-check-label" for="typeCheckbox2">Комната</label>
            </div>
<!--house_type//-->
               <hr>
<!--rooms-->
       <label class="form-check-label" for="">Количество комнат</label>
         <div class="form-check">
              <input name="n_rooms_5" class="form-check-input" type="checkbox" id="roomsCheckbox5" value='5'>
              <label class="form-check-label" for="roomsCheckbox5">Студия | Studio</label>
            </div>
         <div class="form-check">
              <input name="n_rooms_1" class="form-check-input" type="checkbox" id="roomsCheckbox1" value='1'>
              <label class="form-check-label" for="roomsCheckbox1">1</label>
            </div>
            <div class="form-check">
              <input name="n_rooms_2"  class="form-check-input" type="checkbox" id="roomsCheckbox2" value='2'>
              <label class="form-check-label" for="roomsCheckbox2">2</label>
        </div>
           <div class="form-check ">
              <input name="n_rooms_3"  class="form-check-input" type="checkbox" id="roomsCheckbox3" value='3'>
              <label class="form-check-label" for="roomsCheckbox3">3</label>
            </div>
           <div class="form-check ">
              <input name="n_rooms_4"  class="form-check-input" type="checkbox" id="roomsCheckbox4" value='4'>
              <label class="form-check-label" for="roomsCheckbox4">4+</label>
            </div>
<!--rooms//-->
               <hr>
 <!--interior-->
               <select name="interior_condition" class="form-select mb-2" aria-label="interior_condition">
                  <option value="" disabled selected>Состояние отделки | interior condition</option>
                  <option value='1'>Новый ремонт | Good interior condition</option>
                  <option value='2'>Без ремонта | Old interior</option>
                   <option value='3'>Требуется ремонт | Repair required</option>
               </select>
<!--interior//-->
 <!--furniture-->
         <select name="furniture" class="form-select mb-2" aria-label="furniture">
              <option value="" disabled selected>Мебель | Furniture</option>
              <option value=1>Мебель полностью | Fully furnished</option>
              <option value=2>Мебель частично | Partially furnished</option>
              <option value=3>Без мебели | Without furniture</option>
         </select>
<!--furniture//-->
<!--heating-->
         <select name="heating" class="form-select" aria-label="heating">
              <option value="" disabled selected>Отопление | Heating</option>
              <option value=1>Центральное | Central heating</option>
              <option value=2>Электрическое | Electric heating</option>
              <option value=3>Газовое | Gas</option>
              <option value=4>Кондиционер | Conditioner</option>
              <option value=5>Печное | Stove heating</option>
              <option value=6>Отсутствует | No heating</option>
              <option value=7>Другое | Other</option>
         </select>
<!--heating//-->
               <hr>
<!--internet-->
               <label class="form-check-label" for="">Интернет | Internet</label>
         <div class="form-check">
              <input name="internet_op_1" class="form-check-input" type="checkbox" id="inetlineCheckbox1" value=1>
              <label class="form-check-label" for="inetlineCheckbox1">Ethernet/ GPON(optic)</label>
            </div>
            <div class="form-check">
              <input name="internet_op_2"  class="form-check-input" type="checkbox" id="inetlineCheckbox2" value=2>
              <label class="form-check-label" for="inetlineCheckbox2">ADSL</label>
        </div>
           <div class="form-check ">
              <input name="internet_op_3"  class="form-check-input" type="checkbox" id="inetlineCheckbox3" value=3>
              <label class="form-check-label" for="inetlineCheckbox3">Отсутствует | No internet</label>
            </div>
<!--internet//-->
               <hr>
<!--MaxLiving-->
               <label for="number_living" class="form-label">Максимум проживающих | Max. lodgers</label>
               <input name="number_living" class="form-control" type="text" placeholder="Введите число | Input number" id="number_living" aria-label=" input number_living">
<!--MaxLiving//-->
               <hr>
<!--freespace-->
               <label for="freespace" class="form-label">Свободны места для ... человек | free space for ... person</label>
               <input name="freespace" class="form-control" type="text" placeholder="Введите число | Input number" id="freespace" aria-label=" input freespace">
<!--freespace//-->
               <hr>
<!--MinMaxCoast-->
             <div class="row">
               <label for="min_cost" class="form-label">Минимальная и/или максимальная сумма аренды на человека в USD/месяц | Minimum and/or maximum rental amount per person, USD/month</label>
               <div class="col">
                   <input name="min_cost" class="form-control" type="text" placeholder="Min $/month" id="min_cost" aria-label="input minprice">
               </div>
               <div class="col">
                   <input name="max_cost" class="form-control" type="text" placeholder="Max $/month" id="max_cost" aria-label="input max_cost">
               </div>
            </div>
<!--MinMaxCoast//-->
               <hr>
<!--MinMaxRentalPeriod-->
               <label for="min_rental_period" class="form-label">Минимальный срок аренды в месяцах не более | Minimum rental period in months no more </label>
                   <input name="min_rental_period" class="form-control" type="text" placeholder="Min months" id="min_rental_period" aria-label="input min_rental_period">

<!--MinMaxRentalPeriod//-->
               <hr>
<!--WithAnimals-->
             <label class="form-check-label" for="">С животными | With animals</label>
         <div class="form-check">
              <input name="with_animals" class="form-check-input" type="radio" id="with_animals" value='True'>
              <label class="form-check-label" for="with_animals">да | yes</label>
         </div>
          <div class="form-check">
             <input name="with_animals" class="form-check-input" type="radio" id="with_animals" value='False'>
              <label class="form-check-label" for="with_animals">нет | no</label>
          </div>
<!--WithAnimals//-->
      </div><!--col//-->
             <button class="btn btn-success my-1 float-start" type="submit" >Искать | Search</button>
    </div><!--row//-->
</form>
<!--DiscardFilters-->
            <form method="get">
                <div class="row">
                    <button name="discard_filters" type="submit" class="btn btn-outline-secondary" value="True" style="float: right">Сбросить фильтры | Discard filters</button>
                </div>
            </form>
<!--DiscardFilters//-->
            </div>
        </div>
<!-- ========================= FILTERS END// ========================= -->
    <!--============== SELECTED =================-->
    {% if already_hint %}
        <div class="card border-0">
            <div class="card-body">
                 <h6>{{ already_hint }}</h6>
            </div>
        </div>
    {% else %}
    {% endif %}
<!--============== SELECTED //=================-->
<!-- ========================= QUERYSET DISPLAY ========================= -->
       <div class="col">
        {% for offer in qs %}
           <hr>
            <div class="card col-9 border-0">
              <div class="row g-0">
                <div class="col-md-3">
                  <img src="{{ offer.photo_1 }}" class="img-fluid rounded-start" alt="photo">
                </div>
                <div class="col-md-9">
                  <div class="card-body small">
                        <a class="" href="{{ offer.get_url }}"><h5 class="card-title">{{ offer.name }},  {{ offer.district }}</h5></a>
                        <p class="card-text">
                            <div class="row">
                               <div class="col">
                                   <dl class="row">
                                       <dt class="col-4">Помещение/Housing</dt>
                                      <dd class="col-8">{{ offer.get_house_type_display }}; комнаты/rooms: {{ offer.get_number_of_rooms_display }}; площадь/area {{ offer.house_area }} m2</dd>
                                      <dt class="col-4">Сдается для/For rent for</dt>
                                      <dd class="col-8">{{ offer.get_lodger_desired_sex_display }}</dd>
                                      <dt class="col-4">Сейчас живут/Currently living lodgers</dt>
                                      <dd class="col-8">{{ offer.get_sex_of_living_lodgers_display}}</dd>
                                       <dt class="col-4">Стоимость аренды на человека/ Rental amount per person</dt>
                                      <dd class="col-8">{{ offer.cost_per_person }}$/month | месяц</dd>
                                       <dt class="col-4">Свободно мест</dt>
                                       <dd class="col-8">{{ offer.free_space_for_num_person }}</dd>
                                   </dl>
                               </div>
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Создано | Created at {{ offer.created_date }}</small></p>

                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
   </div><!--start//-->
</div><!--row//-->
<!-- ========================= QUERYSET DISPLAY END// ========================= -->
</section>
<!-- ========================= SECTION  END// ========================= -->



{% endblock %}

