{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-content">
<div class="container">
<!--==============selecting country and city=================-->
<div class="row col-12 mb-2">
    <div class="float-start">
        <div class="card">
            <div class="card-body">

<div class="row">
  <div class="col">
            <form method="get" name="country_sel" action="">
                <input name="country_select" type="search" class="form-control border-success" list="datalistOptions" id="CountryDataList" placeholder="{{ placeholder_country }}" onchange='if(this.value != 0) { this.form.submit(); }'>
                <datalist id="datalistOptions">
                    {% for country in countries %}
                      <option value="{{ country.country }}">
                    {% endfor %}
                </datalist>
            </form>
  </div>
  <div class="col">
    <form method="get" name="city_sel" action="">
                <input name="city_select" type="search" class="form-control border-success" list="datalistOptions1" id="CityDataList" placeholder="{{ placeholder_city }}" onchange='if(this.value != 0) { this.form.submit(); }'>
                <datalist id="datalistOptions1">
                    {% for city in city_qs %}
                      <option value="{{ city.city }}">
                    {% endfor %}
                </datalist>
            </form>
  </div>
</div>
            </div>
        </div>
    </div>
</div>
<!--==============END selecting country and city=================-->
        <!--==============FILTERS=================-->
<div class="row col-12">
    <div class="float-start">
        <div class="card col-4" style="float: right;">
            <div class="card-title mb-0">
               <div class="card-header bg-success text-white">Filters | Фильтры</div>
            </div>
            <div class="card-body">

        <form method="get" name="filters_form" action="">
         <div class="row">
           <div class="col">
              <select name="sex" class="form-select mb-1" aria-label="Default select example">
                  <option value="" disabled selected>Ваш пол</option>
                  <option value=1>Женский | Female</option>
                  <option value=2>Мужской | Male</option>
                  <option value=3>Смешанно | Mixed</option>
{#                  <option value=4>Не важно | Doesn't matter</option>#}
              </select>

         <select name="gender_of_living" class="form-select mb-1" aria-label="Default select example">
              <option value="" disabled selected>Вам подойдет жить с...</option>
              <option value=1>Женщинами | Female</option>
              <option value=2>Мужчинами | Male</option>
              <option value=3>Смешанно | Mixed</option>
{#              <option value=4>Не важно | Doesn't matter</option>#}
          </select>

<!--house_type-->
       <label class="form-check-label" for="">Тип жилья</label>
         <div class="form-check">
              <input name="house_type_1" class="form-check-input" type="checkbox" id="inlineCheckbox1" value=1>
              <label class="form-check-label" for="inlineCheckbox1">Квартира</label>
            </div>
            <div class="form-check">
              <input name="house_type_2"  class="form-check-input" type="checkbox" id="inlineCheckbox2" value=2>
              <label class="form-check-label" for="inlineCheckbox2">Дом</label>
        </div>
           <div class="form-check ">
              <input name="house_type_3"  class="form-check-input" type="checkbox" id="inlineCheckbox1" value=3>
              <label class="form-check-label" for="inlineCheckbox1">Комната</label>
            </div>
<!--house_type//-->
<!--rooms-->
       <label class="form-check-label" for="">Количество комнат</label>
         <div class="form-check">
              <input name="n_rooms_1" class="form-check-input" type="checkbox" id="inlineCheckbox1" value=1>
              <label class="form-check-label" for="inlineCheckbox1">1</label>
            </div>
            <div class="form-check">
              <input name="n_rooms_2"  class="form-check-input" type="checkbox" id="inlineCheckbox2" value=2>
              <label class="form-check-label" for="inlineCheckbox2">2</label>
        </div>
           <div class="form-check ">
              <input name="n_rooms_3"  class="form-check-input" type="checkbox" id="inlineCheckbox1" value=3>
              <label class="form-check-label" for="inlineCheckbox1">3</label>
            </div>
           <div class="form-check ">
              <input name="n_rooms_4"  class="form-check-input" type="checkbox" id="inlineCheckbox1" value=4>
              <label class="form-check-label" for="inlineCheckbox1">4+</label>
            </div>
<!--rooms//-->
 <!--interior-->
               <select name="interior_condition" class="form-select mb-1" aria-label="Default select example">
                  <option value="" disabled selected>Состояние отделки | interior condition</option>
                  <option value=1>Новый ремонт | good interior condition</option>
                  <option value=2>Старый ремонт | old interior</option>
               </select>
<!--interior//-->
 <!--furniture-->
         <select name="furniture-sel" class="form-select mb-1" aria-label="Default select example">
              <option value="" disabled selected>Мебель | Furniture</option>
              <option value=1>Полностью мебелирована | Fully furnished</option>
              <option value=2>Частично мебелирована | Partially furnished</option>
              <option value=3>Без мебели | Without furniture</option>
         </select>
<!--furniture//-->
<!--heating-->
         <select name="heating-sel" class="form-select mb-1" aria-label="Default select example">
              <option value="" disabled selected>Отопление | Heating</option>
              <option value=1>Центральное | Central heating</option>
              <option value=2>Электрическое | Electric heating</option>
              <option value=3>Газовое | Gas</option>
              <option value=4>Кондиционер | Conditioner</option>
              <option value=5>Печное | Stove heating</option>
              <option value=6>Отсутствует | No heating</option>
              <option value=7>Другое | Other</option>
         </select>
<!--heating//-->
<!--internet-->
               <label class="form-check-label" for="">Интернет | Internet</label>
         <div class="form-check">
              <input name="internet_op_1" class="form-check-input" type="checkbox" id="inlineCheckbox1" value=1>
              <label class="form-check-label" for="inlineCheckbox1">Ethernet/ GPON(optic)</label>
            </div>
            <div class="form-check">
              <input name="internet_op_2"  class="form-check-input" type="checkbox" id="inlineCheckbox2" value=2>
              <label class="form-check-label" for="inlineCheckbox2">ADSL</label>
        </div>
           <div class="form-check ">
              <input name="internet_op_3"  class="form-check-input" type="checkbox" id="inlineCheckbox1" value=3>
              <label class="form-check-label" for="inlineCheckbox1">Отсутствует | No internet</label>
            </div>
<!--internet//-->
<!--MaxLiving-->
               <label for="number_living" class="form-label">Максимум проживающих | Max. lodgers</label>
               <input name="number_living" class="form-control" type="text" placeholder="Введите число | Input number" id="number_living" aria-label=" input number_living">
<!--MaxLiving//-->
<!--MinMaxCoast-->
               <div class="col">
                   <input name="number_living" class="form-control" type="text" placeholder="Введите число | Input number" id="number_living" aria-label=" input minprice">
               </div>
<!--MinMaxCoast//-->
      </div><!--col//-->
    </div><!--row//-->
    <button class="btn btn-outline-success my-1 float-start" type="submit" >Искать | Search</button>
</form>
            </div>
        </div>
        <div class="card-col-8">
            <div class="card-body">
<!-- ========================= QUERYSET ========================= -->
                <ul>
                   {% if qs %}
                        {% for offer in qs %}
                            <hr>
                           <li>{{ offer.name }} | {{ offer.city }} | {{ offer.house_type }} | {{ offer.cost_per_person }} | {{ offer.desired_gender }} | {{ offer.heating }}</li>
                            <hr>
                        {% endfor %}
                   {% else %}
                       <h5>К сожалению по вашему запросу не найдено результатов, проверьте выбран ли город</h5>
                   {% endif %}
                </ul>
<!-- ========================= QUERYSET END// ========================= -->
            </div>
        </div>
    </div><!--start//-->
</div><!--row//-->
<!-- ========================= FILTERS END// ========================= -->
</div>
</section>
<!-- ========================= SECTION  END// ========================= -->



{% endblock %}

