{% load static %}

<header class="section-header mt-4 mb-3">

<nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom border-top">
    <div class="container mx-auto py-2">
        <a href="{% url 'home' %}" class="brand-wrap">
{#			<img class="logo" src="{% static './images/logo.png' %}">#}
		</a> <!-- brand-wrap.// -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">

        <div class="d-none d-lg-block col-lg">
		<div class="category-wrap dropdown d-inline-block float-right">
			<button type="button" class="btn btn-primary btn-success dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-bars"></i> All category
			</button>
			<div class="dropdown-menu">
{#                {% for category in category_links %}#}
{#				    <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>#}
{#                {% endfor %}#}
			</div>
		</div>  <!-- category-wrap.// -->
	</div> <!-- col.// -->

      </li>
      <li class="nav-item">
          <div class="col-sm-12 col mt-2 my-md-0">
{#              <a href="{% url 'store:store-view' %}" class="btn btn-outline-primary d-block">Store</a>#}
          </div>

      </li>

     <li class="nav-item">

{#        <div class="col-lg col-lg-auto col-sm-12 col mt-2 my-md-0">#}
{#		<form action="{% url '' %}" class="search" method="GET">#}
{#			<div class="input-group w-100">#}
{#			    <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword">#}
{##}
{#			    <div class="input-group-append">#}
{#			      <button class="btn btn-primary" type="submit">#}
{#			        <i class="fa fa-search"></i>#}
{#			      </button>#}
{#			    </div>#}
{#		    </div>#}
{#		</form> <!-- search-wrap .end// -->#}
	</div> <!-- col.// -->

      </li>

    </ul>

  <div class="col-lg-4 col-sm-12 col-md-6 col order-2 order-lg-3">
				<div class="d-flex justify-content-center justify-content-md-end mt-3 my-md-0">
{#                {% if user.id is not None %}#}
{#					<div class="widget-header">#}
{#						<small class="title text-muted">Welcome {{ user.first_name }}!</small>#}
{#						<div>#}
{#							<a href="{% url 'accounts:dashboard-view' %}">Dashboard</a> <span class="dark-transp"> | </span>#}
{#							<a href="{% url 'accounts:logout-view' %}"> Logout </a>#}
{#						</div>#}
{#					</div>#}
{#                    {% else %}#}
{#                    <div class="widget-header">#}
{#						<small class="title text-muted">Welcome guest!</small>#}
{#						<div>#}
{#							<a href="{% url 'accounts:login-view' %}">Sign in</a> <span class="dark-transp"> | </span>#}
{#							<a href="{% url 'accounts:register-view' %}"> Register</a>#}
{#						</div>#}
{#					</div>#}
{#                    {% endif %}#}
{#					<a href="{% url 'carts:cart-view' %}" class="widget-header pl-3 ml-3">#}
{#						<div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>#}
{#						<span class="badge badge-pill badge-danger notify">{{ cart_count }}</span>#}
{#					</a>#}
				</div> <!-- widgets-wrap.// -->
			</div> <!-- col.// -->
       </div>

</div>
</nav>
</header>

<!-- navbar //-->

